<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/a37c935d-6909-4747-a6e1-bea19344df78/resourceGroups/douglas-salesforce_group/providers/Microsoft.Web/sites/douglas-salesforce</ResourceId>
    <ResourceGroup>douglas-salesforce_group</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://douglas-salesforce.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>6ca352b0-bf1c-4d1f-b016-af18104f49ea</ProjectGuid>
    <PublishUrl>https://douglas-salesforce.scm.azurewebsites.net/</PublishUrl>
    <UserName>$douglas-salesforce</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>